.main{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
  }
.question {
    text-transform: capitalize;
    font-size: 25px;
    padding-bottom: 10px;
    color: #4c99ba;;
}
img {
    max-width: 100%;
    vertical-align: middle;
  }
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.won {
  color: green;
}
.mistakes {
  color: red;
}

.optionsBtn {
    margin: 10px;
    display: flex;
    flex-flow: wrap;
}
  
  .btn {
    flex: 0 0 50%;
    color:black;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    border: 1px solid;
    background: transparent;
  }
  
.btn:active {
    background-color:#C0C0C0;
}
  
.Reset {
  background-color: #62d7db;
  color: black;
  border-radius: 20px;
  padding: 10px 30px;
}

.Reset:hover {
  background-color: transparent;
  border-radius: 20px;

}
.points {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: red;
  
}
.status {
  text-align: center;
  font-size: 25px;
}

.btn-submit {
  padding: 8px;
  cursor: pointer;
}