body {
  color: #272727;
  font-family: 'Quicksand', serif;
  background-image: url('./bg1.jpg');

}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



.titleText {
  width: auto;
  background-color:#62d7db;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 0;
  animation-delay: 1s;
  opacity: 0; 
  
  animation: fadeInUp 1s ease-in-out 0s forwards;

}
.content {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  text-align: center;
}
.userName {
  text-transform: capitalize;
}

.correct {
  background-color: green;
  color: #fff;
}
.incorrect {
  background-color: red;
  color: #fff;
} 

input {
  padding: 8px;
}
.lable {
  font-size: 20px;
}